{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="flex-l mt2 mw8 center">
    <!---<article class="center cf pv5 ph3 ph4-ns mw7">-->
    <article class="flex-l flex-wrap justify-between mw8 center ph3">
      <header class="mt4 w-100">
        <h1 class="f1">
          {{ .Title }}
        </h1>
      </header>
      <div class="nested-copy-line-height lh-copy f4 nested-links {{ $.Param "text_color" | default "mid-gray" }}">
        {{ .Content }}
        <span>
        {{ range .Param "access" }}
        {{ . }}
      {{ end }}
       <hr>
      </span>
      <span>
        Auteur :
        {{ range .Param "authors" }}
        {{ . }}
      {{ end }}
      </span>
      <span>
        - Source : <a href="https://artefields.net">artefields.net</a> 
        {{/* {{ range .Param "source" }}
        {{ . }}
      {{ end }} */}}
      </span>
      </div>
    </article>
  </div>
{{ end }}


 