/* Put your custom styles : aassets/nanke/css/ */

<style>

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links-button a{
  overflow-wrap: break-word;
  text-decoration: none;
  color: #db9b27;
  font-style: normal;
  font-weight: 400;
}

.image-center {
  img {
    width: 95%;
    margin: auto;
    display: block;
    }
}

.button-black {
    align-items: center;
    background-color: black;
    border-radius: 3px;
    cursor: pointer;
    display: inline-flex;
    font-size: 15px;
    font-weight: 800;
    height: 36px;
    justify-content: center;
    letter-spacing: .5px;
    outline: none;
    padding: 0 15px;
    text-transform: uppercase;
    color: white !important;
    text-decoration: none !important;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 50px;
    width: 100%;
}

.masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Colonnes dynamiques */
    gap: 10px; /* Marge entre les images */
}

.masonry-item {
    break-inside: avoid; /* Empêche les images de se fragmenter sur plusieurs colonnes */
    margin-bottom: 10px; /* Marge inférieure entre les éléments */
}

.masonry-item img {
    max-width: 100%;
    height: auto;
    display: block; /* Supprime l'espace réservé sous les images */
}


</style>
